
<div class="card card-body">
    <h2>Video Idea</h2>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Enter Title here" name ="title" value="{{title}}" >
            
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <input type="text" class="form-control" name = "details" value = "{{details}}">

        </div>
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>

</div>